modules = ["nodejs-20", "web"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web client"

[[workflows.workflow]]
name = "API server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:server"
waitForPort = 3001

[[workflows.workflow]]
name = "Web client"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:client"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 3001
externalPort = 3001

[nix]
channel = "stable-25_05"
